{% for hero in personnage %}
<div class='card_personnage' data-characterId="{{ hero.id }}">
    <div class="card_personnage_name">{{ hero.name }}</div>
    <div class="card_personnage_role {{hero.role.name}}">{{hero.role.name}}</div>
    <div class='card_personnage_img'>
        <img src="{{asset('img/') ~ hero.imageUrl}}" alt="Image du Héro">
    </div>
    <div class='card_personnage_stats'>
        <div class='stats_perso'>
            <p>{{ hero.health }}</p>
            <p>{{ hero.power }}</p>
            <p>{{ hero.defense }}</p>
            <p>{{ hero.portee }}</p>
        </div>
    </div>
</div>
{% endfor %}
