{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<div id="profil-wallpaper">
    <section id="profil">
        <div class="container">
            <div class="avatar-container">
                <div id="avatar-frame">
                    <div class="avatar-img">
                        <img src="{{ asset('uploads/images/' ~ user.imageName) }}" alt="Image de l'avatar">
                    </div>
                    <div class="avatar-border"></div>
                    <div id="modal">
                        <div class="modal-content">
                            <h2>Changer l'avatar</h2>
                            {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <div class="modal-option">
                                    <button type="button" class="btn" id="close">Annuler</button>
                                    <button type="submit" class="btn">Valider</button>
                                </div> 
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <div class="option"></div>
                </div>
            </div>

            <div id="username">
                <h2>{{ user.username }}</h2>
            </div>
        </div>
    </section>

    {% for message in app.flashes('error') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}

    <section id="teams">
        <div class="container">
            <h2>Mes teams :</h2>

            <div class="team-container" id="team-container">
                {% include 'partials/team.html.twig' %}
            </div>
        </div>
    </section>
</div>

<script src="{{ asset('js/profil.js') }}"></script>
{% endblock %}