<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        
    </head>
    <body>
        <header>
            <div class='container_nav'>
                <img src="{{asset('img/header/logoTFP.png')}}" alt="logoTFP"> 
                <ul class='nav-bar'>
                    <li><a href="{{path('app_accueil')}}">Accueil</a></li>
                    <li><a href="{{path('app_personnage')}}">Personnage</a></li>
                    {% if is_granted('ROLE_USER')%}
                    <li><a href="{{path('profil')}}">Profil</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') == false %}
                        <li><a href="{{path('login')}}">Connexion</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{path('app_play')}}">Play</a></li>
                        <li><a href="{{path('logout')}}">Deconnexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <div class='container_footer'>
                <div class='nav-footer'>
                    <ul>
                        <li><a href="{{path('app_accueil')}}">Accueil</a></li>
                        <li><a href="{{path('app_personnage')}}">Personnage</a></li>
                        {% if is_granted('ROLE_USER')%}
                            <li><a href="{{path('profil')}}">Profil</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') == false %}
                            <li><a href="{{path('login')}}">Connexion</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{path('app_play')}}">Play</a></li>
                            <li><a href="{{path('logout')}}">Deconnexion</a></li>
                        {% endif %}
                    </ul>
                    <img src="{{asset('img/header/logoTFP.png')}}" alt="logoTFP">
                </div>    
            </div>
        </footer>
    </body>
    {{ encore_entry_script_tags('app') }}
</html>
